.banner-img {margin-bottom: 30px;}

.custom-service-style .title h4 {margin-top: 80px;padding: 60px 0px;margin-bottom: 0px;}
.head-title {padding: 65px 0 70px;background-color: #FAFAFA;}
.head-title p {max-width: 1174px;margin: 0px auto;font-family: 'Fira Sans';font-size: 24px;line-height: 50px;color: #000000;margin-bottom: 16px;}


.custom-service-style .container {max-width: 1640px;}
.custom-service-style .white-label-sr-desc {margin-bottom: 30px;}
.head-title p {max-width: 1370px;}

.services-list-wrp .container {max-width: 1394px;}
.services-list-wrp .row {margin-left: 0px;margin-right: 0px;}