.stile-thinking {padding: 90px 0px 80px 0px;}
.stile-think-content {margin-bottom: 72px;}
.stile-think-content h4 {font-size: 40px;line-height: 60px;font-weight: 700;text-align: center;}
.stile-think-content h5 {font-size: 30px;line-height: 45px;font-weight: 700;text-align: center;margin-bottom: 15px;}
.stile-think-content img {max-width: 44px;margin-left: 20px;display: inline-block;}
.stile-thinking .guarantee-content {max-width: 1500px;margin: 0 auto;}
.stile-thinking .guarantee-content h4 {font-size: 40px;line-height: 60px;font-weight: 700;text-align: center;margin-bottom: 15px;color: #FF6600;}
.stile-thinking .guarantee-content p {font-family: 'Merriweather';font-size: 30px;line-height: 50px;letter-spacing: 0.5px;text-align: center;color: #000;}