/* FIRA SANS */
@font-face {font-family: 'Fira Sans';src: url('/fonts/fira/FiraSans-Regular.woff2') format('woff2'),url('/fonts/fira/FiraSans-Regular.woff') format('woff');font-weight: 400;font-style: normal;font-display: swap;}
@font-face {font-family: 'Fira Sans';src: url('/fonts/fira/FiraSans-Bold.woff2') format('woff2'),url('/fonts/fira/FiraSans-Bold.woff') format('woff');font-weight: 700;font-style: normal;font-display: swap;}
@font-face {font-family: 'Fira Sans';src: url('/fonts/fira/FiraSans-Italic.woff2') format('woff2'),url('/fonts/fira/FiraSans-Italic.woff') format('woff');font-weight: 400;font-style: italic;font-display: swap;}

/* MERRIWEATHER */
@font-face {font-family: 'Merriweather';src: url('/fonts/merriweather/Merriweather24pt-Black.woff2') format('woff2'),url('/fonts/merriweather/Merriweather24pt-Black.woff') format('woff');font-weight: 900;font-style: normal;font-display: swap;}
@font-face {font-family: 'Merriweather';src: url('/fonts/merriweather/Merriweather24pt-Regular.woff2') format('woff2'),url('/fonts/merriweather/Merriweather24pt-Regular.woff') format('woff');font-weight: 400;font-style: normal;font-display: swap;}
@font-face {font-family: 'Merriweather';src: url('/fonts/merriweather/Merriweather24pt-Bold.woff2') format('woff2'),url('/fonts/merriweather/Merriweather24pt-Bold.woff') format('woff');font-weight: 700;font-style: normal;font-display: swap;}
@font-face {font-family: 'Merriweather';src: url('/fonts/merriweather/Merriweather24pt-Medium.woff2') format('woff2'),url('/fonts/merriweather/Merriweather24pt-Medium.woff') format('woff');font-weight: 500;font-style: normal;font-display: swap;}

:root { 
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  --bs-body-font-family: var(--bs-font-sans-serif); 
  --bs-body-font-size: 1rem; 
  --bs-body-font-weight: 400; 
  --bs-body-line-height: 1.5; 
  --bs-body-color: #212529; 
  --bs-body-bg: #fff;
}

/* html, body {overflow-x: hidden;} */

body {font-size: 16px;position: relative;font-family: 'Merriweather';line-height:1.15;background: #FFFFFF;font-weight:var(--bs-body-font-weight);text-align:var(--bs-body-text-align);color: #000000;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;}
a {text-decoration: none;transition: 0.3s ease;}
body .container {max-width: 1640px;width: 100%;}

* {box-sizing: border-box;padding: 0px;margin: 0px;scroll-behavior: smooth;}
ul, ol {list-style: none;padding: 0px;}
img {border: none;max-width: 100%;display: block;height: auto;}
p {font-family: 'Fira Sans';}

body h1{font-size:70px;}
body h2{font-size:60px;}
body h3{font-size:50px;line-height:65px}
body h4{font-size:40px;line-height:60px}
body h5{font-size:30px;line-height:45px}
body h6{font-size:24px;line-height:36px}

body a{cursor: pointer;}
.text-left{text-align: left;}
.text-center{text-align: center;}

body .common-btn { display: inline-block; max-width: 257px; width: 100%; border: 1px solid #f60; border-radius: 4px; font-size: 18px; letter-spacing: .4px; text-align: center; background: #f60; color: #fff; transition: .3s; padding: 15px 10px; }
body .common-btn:hover { background: #f60; color: #fff; }

.heading-title {font-size: 42px;line-height: 60px;font-weight: 600;}

@media (max-width: 1699px) {
  .home-banner .new-home-slider, .mobile-app-img img {max-width: 100%;}
}

@media (max-width: 1399px) {
  .home-banner .banner-left-content p, body h6 {font-size: 20px;}
  .home-banner .banner-left-content .banner-btn {max-width: 220px;font-size: 18px;padding: 12px;}
}


/* why_mage_monkey  start */
.why_mage_monkey { background: #424242; padding: 60px 0; }
.why_mage_monkey h5 {font-size: 40px; line-height: 60px; margin-bottom: 15px; padding: 0;font-weight: 900;}
.why_mage_monkey .white_text1 {font-family: 'Merriweather';font-size: 40px; line-height: 60px; color: #fff; padding: 5px 100px 54px; margin-bottom: 0; font-weight: 400; }
.why_mage_cell { padding: 30px; background-color: #343434; border-radius: 15px; height: 100%; }
.why_mage_cell h6 { color: #fff; font-weight: 600; margin: 25px 0 0;font-family: 'Fira Sans';}
.why_mage_cell p { color: #999; margin: 5px 0 0; font-size: 18px; line-height: 24px; }

@media (max-width: 1399px) {
  .why_mage_cell h6{font-size: 24px;}
}

@media (max-width: 1280px) {
  .why_mage_monkey h5 { font-size: 35px; line-height: 45px; }
  .why_mage_monkey .white_text1 { font-size: 24px; }

}
@media (max-width: 1199px) {
  .why_mage_monkey .white_text1 { padding: 0 0 40px; }
  .why_mage_monkey{padding: 60px 0;}

}
@media (max-width: 991px) {
  .why_mage_cell h6 { font-size: 20px; margin: 18px 0 0; }
}
@media (max-width: 767px) {
  .why_mage_cell h6 {margin: 18px 0 0;font-size: 20px;line-height: 24px;font-weight: 900;letter-spacing: 0.1px;}
  .why_mage_cell img { display: block; margin: auto; }
  .why_mage_cell{    padding: 20px;}
  .why_mage_monkey .white_text1{line-height: 1.2;}
  .why_mage_monkey h5 {font-size: 30px; line-height: 1.2;font-weight: 900;}
  .why_mage_monkey .white_text1{font-size: 20px;}
  .why_mage_monkey{padding: 30px 0;}
}
@media (max-width: 576px) {
  .why_mage_monkey{ background:#f5f5f5 }
.why_mage_cell{background-color:#fff;border-radius:10px;padding:20px 25px 26px 20px;display:flex;align-items:flex-start;column-gap:15px;text-align:left;align-items: flex-start;}
.why_mage_cell img{mix-blend-mode:exclusion;max-width:40px;margin-top: 0;}
.why_mage_cell h6{color:#ff8a00;margin:0;font-family:Merriweather,serif}
.why_mage_cell p{font-size:15px;line-height:20px;color:#000;margin:10px 0 0}
.vide_tst h3,.why_mage_monkey h5{font-size:20px;line-height:27px;}
.why_mage_monkey h5{margin-bottom:10px;color:#424242!important}
.why_mage_monkey .white_text1{font-size:15px;line-height:20px;max-width:200px;padding:0 0 10px;color:#000;margin-inline:auto;font-family:"Open Sans",sans-serif;margin-bottom: 10px;}
.text-left.why_mage_cell{text-align: left;}
.why_mage_monkey .row > [class*="col-"]:not(:last-child) { margin-bottom: 20px; }

}
/* why_mage_monkey  end */


/* footer-form-wrp start */
.footer-form-wrp { background: #fafafa; padding: 50px 0; }
.footer-form-wrp .footer-form-title { margin-bottom: 30px; }
.footer-form-wrp .form-heading {color: #000;margin-bottom: 0;font-weight: 900;letter-spacing: 0.1px;}
.footer-form-wrp .form-tagline {color: red;font-size: 16px;line-height: 24px;}
.footer-form-wrp .form-tagline span { display: block; }
.footer-form-wrp .footer-form { margin-left: auto; max-width: 788px; margin-right: auto; }
.footer-form-wrp .footer-form input, .footer-form-wrp .footer-form textarea { border: 1px solid #00000065; color: #000; font-weight: 400; font-size: 18px; padding: 15px 20px; width: 100%; border-radius: 4px;height: 60px;}
.footer-form-wrp .footer-form .col-sm-4{margin-bottom: 40px;}
.footer-form-wrp .common-btn {color: #FFFFFF;border: none;margin: 40px 0px 0px;height: 60px;}
.footer-form-wrp .common-btn:hover {background-color: #000000;}
.footer-form-wrp .selected-flag { z-index: 1; position: relative; width: 36px; height: 100%; padding: 0 0 0 8px; width: 46px; }
.footer-form-wrp .selected-flag .iti-flag { position: absolute; top: 0; bottom: 0; margin: auto; height: 14px; background-position: -2413px 0px; }
.footer-form-wrp .selected-flag .iti-arrow { position: absolute; top: 50%; margin-top: -2px; right: 6px; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 4px solid #555; }
.footer-form-wrp .footer-form .react-tel-input input {padding-left: 50px;}
.footer-form-wrp .footer-form .form-control {border: 1px solid #00000065;color: #000;font-weight: 400;font-family: "Fira Sans",sans-serif;font-size: 18px;padding: 15px 20px;width: 100%;border-radius: 4px;}
.footer-form-wrp .footer-form textarea.form-control {height: 140px;resize: none;}
.footer-form-wrp .footer-form .form-control::placeholder {color:rgba(0,0,0,.3);font-weight:400;}
.footer-form-wrp .footer-form .react-tel-input .flag-dropdown {border: none;background: transparent;border-radius: 4px 0 0 4px;margin: 2px 1px;}
.footer-form-wrp .footer-form .react-tel-input .selected-flag:hover, .footer-form-wrp .footer-form .react-tel-input .selected-flag:focus {background: rgba(0, 0, 0, 0.05);}
.footer-form-wrp .footer-form .react-tel-input .selected-flag {border-radius: 4px 0 0 4px;width: 40px;padding: 0 0 0 10px;}

@media screen and (max-width: 1399px) {
    .footer-form-wrp {padding: 40px 0px;}
    .footer-form-wrp .footer-form .col-sm-4 {margin-bottom: 30px;}
    .footer-form-wrp .common-btn {margin-top: 35px;max-width: 257px;}

    footer {padding: 20px 0px;}
}

@media (max-width: 1280px) {
    .footer-form-wrp .footer-form-title {margin-bottom: 50px;}
}

@media (max-width: 991px) {
    .footer-form-wrp .footer-form-title {margin-bottom: 40px;}
}

@media screen and (max-width: 767px) {
  .footer-form-wrp {padding: 30px 0 15px;}
  .footer-form-wrp .form-heading {font-size: 20px;line-height: 27px;color: #424242;}
  .footer-form-wrp .footer-form .col-sm-4 {margin-bottom: 15px;}
  .footer-form-wrp .footer-form .form-control {height: 40px;padding: 8px 15px;font-size: 16px;border: 1px solid #00000046;color: #2b2b2b;margin-bottom: 2px;}
  .footer-form-wrp .footer-form-title {margin-bottom: 30px;}
  .footer-form-wrp .footer-form textarea.form-control {height: 80px;resize: none;}
  .footer-form-wrp .common-btn {max-width: 100%;font-size: 17px;height: 50px;margin-top: 25px;}
  
  footer {margin-bottom: 34px;padding: 15px 0px;}
  footer .footer-wrapper {justify-content: center;}
}

@media screen and (max-width: 575px) {
  .footer-form-wrp .footer-form-title {margin-bottom: 20px;}
}

/* footer-form-wrp end */


footer { background: #000; padding: 30px 0; }
footer .footer-wrapper { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
footer .footer-wrapper p , footer .footer_link li a { margin-bottom: 0; font-size: 14px; line-height: 21px; color: #666; }
footer .footer_link li { float: left; margin-left: 10px; }
footer .footer_link li:last-child::before { content: "|"; color: #535151; margin-right: 11px; font-size: 10px; }

@media screen and (max-width: 1399px) {
    footer {padding: 20px 0px;}
}

@media screen and (max-width: 767px) {
  footer {margin-bottom: 34px;padding: 15px 0px;}
  footer .footer-wrapper {justify-content: center;}
  footer .footer-wrapper p, footer .footer_link li a {color: #fff;font-size: 14px;font-family: 'Fira Sans';}
  footer .footer_link li:last-child:before {content: "|";color: #FFFFFF;margin-right: 11px;font-size: 13px;font-weight: 900;}
}


.mobile-bottom-header {display: none !important;}
@media screen and (max-width: 767px) {
  .mobile-bottom-header {padding: 5px 0;position: fixed;top: auto;bottom: 0;display: block !important;left: 0;right: 0;z-index: 999;background-color: #343434;height: auto;top: auto;bottom: 0;}
  .mobile-bottom-header .container {grid-template-columns: 100%;}
  .mobile-bottom-header ul {display: flex;gap: 10px;flex-direction: row-reverse;width: 100%;justify-content: space-around;margin-bottom: 0px;}
  .mobile-bottom-header ul li a {display: flex;align-items: center;}
  .mobile-bottom-header ul li a span {width: 30px;height: 30px;margin-right: 5px;object-fit: cover;background-color: #ff8a00;border-radius: 25px;display: inline-flex;justify-content: center;align-items: center;text-align: center;vertical-align: middle;}
  .mobile-bottom-header ul li a span img {max-width: 15px;}
  .mobile-bottom-header ul li a p {font-size: 16px;text-transform: uppercase;line-height: 1;color: #fff;margin-bottom: 0px;}

  br {display: none;}
}

.loader-overlay {position: fixed;top: 0px;left: 0px;background-color: rgba(255, 255, 255, 0.1);width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;z-index: 9;backdrop-filter: blur(10px);}
.loader-overlay .loader {--r1: 154%;--r2: 68.5%;width: 60px;aspect-ratio: 1;border-radius: 50%;background:radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#FF6600 80%), radial-gradient(var(--r1) var(--r2) at bottom,#FF6600 79.5%,#0000 80%), radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#FF6600 80%),#FDE8DA;background-size: 50.5% 220%;background-position: -100% 0%,0% 0%,100% 0%;background-repeat:no-repeat;animation: l9 2s infinite linear;}

@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}