.solution-sec {padding: 85px 0;background: #FAFAFA;}
.solution-sec .main-title h5{ margin-bottom: 50px; text-align: center; font-weight: 900; color: #424242; }
.solution-sec .nav-tabs { display: flex; justify-content: space-between; flex-wrap: nowrap; border-bottom: 7px solid #0000000d; padding: 0; margin-bottom: 80px; }
.solution-sec .nav-tabs li {max-width: 25%;width: 100%;}
.solution-sec .nav-tabs li .nav-link {font-size: 20px;font-family: 'Merriweather';font-weight: 900;border: none;padding: 0 0 15px;border-bottom: 5px solid transparent; margin: 0; color: #000; text-align: center; cursor: default; position: relative;width: 100%;text-align: center;line-height: 30px;}
.solution-sec .nav-tabs li .nav-link:hover{ color: #f60; }
.solution-sec .nav-tabs li .nav-link.active { color: #f60; background: 0 0; }
.solution-sec .nav-tabs li .nav-link.active:after { content: ""; display: block; position: absolute; transform: rotate(45deg); width: 25px; height: 25px; border-right: 7px solid #0000000d; border-bottom: 7px solid #0000000d; border-color: #0000000d; top: 95%; left: 0; right: 0; margin: auto; background-color: #fafafa; opacity: 1; }
.solution-sec .tab-content .tab-pane .tab-content-wrap { display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 50px; max-width: 1070px; margin: 0 auto; }
.solution-sec .tab-content h5 { margin-bottom: 19px; font-weight: 900; }
.solution-sec .tab-content h5 a{color: #f60;}
.solution-sec .tab-content p {font-size: 18px; line-height: 36px; margin-bottom: 44px; letter-spacing: .44px; color: #000;font-family: 'Merriweather';}
.solution-sec .tab-content .tab-btn-box { display: flex; justify-content: space-between; }
.solution-sec .common-btn { max-width: calc(50% - 15px); margin-top: 15px; }
.solution-sec .common-btn.know-more{ border: 1px solid #f60; background-color: transparent; color: #f60; }
.solution-sec .common-btn.know-more:hover { background: #f60; color: #fff; }
.solution-sec .common-btn.discuss:hover{ border: 1px solid #f60; background-color: transparent; color: #f60;}
.solution-sec .tab-content .tab-pane .tab-content-wrap img {object-fit: contain;height: 100%;}
.tab-content .tab-pane:nth-child(even) .tab-content-wrap .tab-content-left {order: 2;}
.tab-content .tab-pane:nth-child(even) .tab-content-wrap .tab-content-right {order: 1;}


@media (max-width: 1199px) {
   .solution-sec .main-title h5{
       margin-bottom: 30px;
   }
   
}

@media (max-width: 991px) {
   .solution-sec { padding: 45px 0px; }
   .solution-sec .nav-tabs li .nav-link{font-size: 16px;}
   .solution-sec .tab-content h5{font-size: 24px; line-height: 36px; margin-bottom: 15px;}
   .solution-sec .tab-content p{margin-bottom: 25px; font-size: 16px; line-height: 30px;}
   .solution-sec .common-btn{padding: 10px 10px; font-size: 16px;max-width: calc(50% - 10px);}
   

}
@media (max-width: 767px) {
   .solution-sec {padding: 30px 0;}
   .solution-sec .main-title h5 {font-size: 20px;line-height: 24px;margin-bottom: 15px;letter-spacing: 0.1px;}
   .solution-tab .accordion-item { border: none; }
   .solution-tab .accordion-item .accordion-body { display: none; }
   .solution-tab .accordion-item .accordion-header { cursor: pointer; display: block; font-weight: 900; font-size: 16px;line-height: 20px; color: rgb(66, 66, 66); position: relative; background-color: rgb(250, 250, 250); padding: 15px 30px 13px 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0px; }
   .solution-tab .accordion-item .accordion-header::before { content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: 4px; font-size: 25px; width: 16px; height: 16px; cursor: pointer; background: url(/images/icons/plus.png) no-repeat;background-position: center; border-top: none; border-right: none; transition: 0.5s;background-size: contain; }
   .solution-tab .accordion-item .accordion-body.show{display: block;}
   .solution-tab .tab-content-wrap .tab-content-left { display: none; }
   .solution-tab .tab-content-wrap  .tab-content-right h5 { display: none; }
   .solution-tab .accordion-item{background: transparent;}
   .solution-tab .tab-btn-box { display: flex; justify-content: space-around; }
   .solution-tab .accordion-item  .tab-content-right p { font-size: 16px; line-height: 24px; }
   .solution-tab .accordion-item .accordion-body.show h5{color: rgb(255, 102, 0);}
   .solution-tab .accordion-item .accordion-header.active::before {background: url(/images/icons/minus.png) no-repeat;background-position: center;background-size: contain;}
   .solution-tab .accordion-item .accordion-header.active{color: rgb(255, 102, 0);} 


}
@media (max-width: 576px) {
   .solution_sec .custom_btn { max-width: calc(50% - 5px); }
   

}