.adobe-commerce-solutions .main-title h5 {font-size: 60px;color: #000;}
.adobe-commerce-solutions .solution-sec .nav-tabs li {max-width: 25%;width: 100%;}
.adobe-commerce-solutions .solution-sec .nav-tabs li button {width: 100%;display: block;}
.adobe-commerce-solutions .tab-content .container {padding: 0px 24px;}
.adobe-commerce-solutions .solution-sec .tab-content p {font-size: 22px;}
.adobe-commerce-solutions .solution-sec .tab-content .action_btn {display: flex;justify-content: center;}