.about-us {padding-bottom: 0px;}
.about-us .banner-img {margin-bottom: 0px;}

.new-store-service {background-color: #FAFAFA;padding: 60px 0px 78px 0px;}
.new-store-service .grid-services .service-list {background-color: #FFFFFF;}
.new-store-service .title {display: none;}